name: Main Flow

on:
  push:
    branches: [main]

  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v3
      - name: Install node
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: 22.6.0
      - name: Install dependencies
        shell: bash
        run: pnpm install
      - name: Type check
        run: pnpm check
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
      - run: pnpm build
      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm exec changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
