name: PR Flow

on:
  pull_request:
    branches:
      - "main"
      - "v4"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v3
      - name: Install node
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: 22.6.0
      - name: Install dependencies
        shell: bash
        run: pnpm install
      - name: Type check
        run: pnpm check
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
      - run: pnpm build
